body#{
    background: #DC143C;
    color: black;
    display: flex
    justify-content:space-around
    align: intens padding 24px;
}
.cabeçalho-imagagem{
    width: 20%;
}

.cabeçalho-lista-intem{
 display: inline-block
font: size 36px;
margin: 0 16px
}

.escola-imagem{
    width: 25%
}
.escola{
    background-image: linear-gradient#DC143C
    color#000000
    justify-content: center
    padding: 24px;
}

.escola-div-conteudo{
    width: 35%
    font-size 24px;
}

.escola-titulo{
    padding: 24px 0;
}
